extends layout

block content
  h1= title
  p Welcome to #{title}
  p I am an engineer hoping to makes sense of all of this new era in communication. the departure point is the idea that the way we currently do education, especially in the hard sciences.
  p Having said that, the primary attitude towards this wave of tehnology should be neither taking the past as a reference or model, nor denying it.
  p Simply put, I'm setting out on a mission, and this is where all the goods go. Enjoy!
  ul
    li a(href="/convite.pdf")Casamento
    li a(href="/alunos")Alunos
    li a(href="/")Home
