body {
  background-image:url('../IMG_0101.JPG');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
